<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <style>
        .mr {
            margin-right: 5px;
        }
    </style>
</head>
<body ng-app="app">
<div class="container">
    <br><br>
    <hr>
    <div class="row">
        <div class="col-sm-6" ng-controller="controller1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    /ws/source:Thread.start()
                    <a href="" class="btn btn-xs btn-warning pull-right mr" ng-click="sync()" ng-disabled="ws">sync</a>
                    <a href="" class="btn btn-xs btn-danger pull-right mr" ng-click="disconn()" ng-disabled="!ws">disconnect</a>
                </div>
                <div class="panel-body">{{data}}</div>
            </div>
        </div>
        <div class="col-sm-6" ng-controller="controller2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    /ws/source2:Thread.start()
                    <a href="" class="btn btn-xs btn-warning pull-right mr" ng-click="sync()" ng-disabled="ws">sync</a>
                    <a href="" class="btn btn-xs btn-danger pull-right mr" ng-click="disconn()" ng-disabled="!ws">disconnect</a>
                </div>
                <div class="panel-body" ng-bind="data|json"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" ng-controller="controller3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    /ws/source3:extends Endpoint
                    <a href="" class="btn btn-xs btn-warning pull-right mr" ng-click="sync()" ng-disabled="ws">sync</a>
                    <a href="" class="btn btn-xs btn-danger pull-right mr" ng-click="disconn()" ng-disabled="!ws">disconnect</a>
                </div>
                <div class="panel-body">{{data}}</div>
            </div>
        </div>
        <div class="col-sm-6" ng-controller="controller4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    /ws/source4:ReceiveDataType("realtime.sensor")
                    <a href="" class="btn btn-xs btn-warning pull-right mr" ng-click="sync()" ng-disabled="ws">sync</a>
                    <a href="" class="btn btn-xs btn-danger pull-right mr" ng-click="disconn()" ng-disabled="!ws">disconnect</a>
                </div>
                <div class="panel-body">{{data}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" ng-controller="controller5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    /ws/source5:ReceiveDataType("random_data")
                    <a href="" class="btn btn-xs btn-warning pull-right mr" ng-click="sync()" ng-disabled="ws">sync</a>
                    <a href="" class="btn btn-xs btn-danger pull-right mr" ng-click="disconn()" ng-disabled="!ws">disconnect</a>
                </div>
                <div class="panel-body">{{data}}</div>
            </div>
        </div>
        <div class="col-sm-6" ng-controller="controller4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    /ws/source4:ReceiveDataType("realtime.sensor")
                    <a href="" class="btn btn-xs btn-warning pull-right mr" ng-click="sync()" ng-disabled="ws">sync</a>
                    <a href="" class="btn btn-xs btn-danger pull-right mr" ng-click="disconn()" ng-disabled="!ws">disconnect</a>
                </div>
                <div class="panel-body">{{data}}</div>
            </div>
        </div>
    </div>
    <hr>
    <a href="http://localhost:8080/wstrigger?dataType=realtime.sensor&data={id:1,%20name:%27litx%20is%20pig%27,%20age:0}"
       target="_blank">
        realtime.sensor
    </a>
    <hr>
    <a href="http://localhost:8080/wstrigger?dataType=random_data&data={id:1,%20name:%27litx%20is%20pig%27,%20age:99999}"
       target="_blank">random_data</a>

</div>
</body>
<script src="assets/jquery/jquery-1.11.2.min.js"></script>
<script src="assets/angular/angular.js"></script>
<script>
    angular.module('app', []);
    angular.module('app').controller('controller1', function ($scope, $timeout, WSService) {
        $scope.data = {};
        var ws;
        $scope.sync = function () {
            $scope.ws = WSService.source({
                url: '/ws/source',
                onmessage: function (evt) {
                    console.log(evt.data);
                    $scope.data = JSON.parse(evt.data);
                    $scope.$digest();
                }
            });
        };
        $scope.disconn = function () {
            $scope.ws.close(3123, "i am disconnect");
            $scope.ws = null;
        };
    });


    angular.module('app').controller('controller2', function ($scope, WSService) {
        $scope.data = {};
        $scope.sync = function () {
            $scope.ws = WSService.source({
                url: '/ws/source2',
                onmessage: function (evt) {
                    console.log(evt.data);
                    $scope.data = JSON.parse(evt.data);
                    $scope.$digest();
                }
            });
        };
        $scope.disconn = function () {
            $scope.ws.close(3123, "i am disconnect");
            $scope.ws = null;
        };

    });

    angular.module('app').controller('controller3', function ($scope, WSService) {
        $scope.data = {};
        $scope.sync = function () {
            $scope.ws = WSService.source({
                url: '/ws/source3',
                onmessage: function (evt) {
                    console.log(evt.data);
                    $scope.data = JSON.parse(evt.data);
                    $scope.$digest();
                }
            });
        };
        $scope.disconn = function () {
            $scope.ws.close(3123, "i am disconnect");
            $scope.ws = null;
        };
    });
    angular.module('app').controller('controller4', function ($scope, WSService) {
        $scope.data = {};
        $scope.sync = function () {
            $scope.ws = WSService.source({
                url: '/ws/source4',
                onmessage: function (evt) {
                    console.log(evt.data);
                    $scope.data = JSON.parse(evt.data);
                    $scope.$digest();
                }
            });
        };
        $scope.disconn = function () {
            $scope.ws.close(3123, "i am disconnect");
            $scope.ws = null;
        };
    });
    angular.module('app').controller('controller5', function ($scope, WSService) {
        $scope.data = {};
        $scope.sync = function () {
            $scope.ws = WSService.source({
                url: '/ws/source5',
                onmessage: function (evt) {
                    console.log(evt.data);
                    $scope.data = JSON.parse(evt.data);
                    $scope.$digest();
                }
            });
        };
        $scope.disconn = function () {
            $scope.ws.close(3123, "i am disconnect");
            $scope.ws = null;
        };
    });


    angular.module('app').service('WSService', function () {
        var _this = this;
        this.source = function (cb) {
            var host = window.location.host;
            var path = window.location.pathname;
            var webp = path.substring(0, path.substring(1).indexOf("/") + 1);
            var url = "ws://" + host + webp + (cb.url || "/ws/source?abc=songyw");
            console.log(url);
            var ws = _this.ws = new WebSocket(url);
            ws.onopen = function (evt) {
                console.log('WSService:opened');
                cb.onopen && cb.onopen(evt);
                cb.data && ws.send(JSON.stringify(cb.data));
            };
            ws.onmessage = function (evt) {
                console.log('WSService:message');
                cb.onmessage && cb.onmessage(evt);
            };
            ws.onclose = function (evt) {
                console.log('WSService:closed');
                cb.onclose && cb.onclose(evt);
            };
            ws.onerror = function (evt) {
                console.log('WSService:error');
                cb.onerror && cb.onerror(evt);
            };

//            ws.send(cb.data || "{}");
            return ws;
        }
    });

</script>
</html>